.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100vw;
  padding: 0.6rem 1.2rem;
  background-color: #19365c; 
}


.logo {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.info-perfil {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt {
  background-color: #8a96af;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 7px;
  font-size: 0.75rem;
}
