.header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-left: 20px;
  text-transform: uppercase;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user:hover {
  cursor: pointer;
}

.user p {
  margin-right: 10px;
  font-size: 16px;
  color: #555;
}

.user .foto-perfil {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.modo-escuro .titulo, .modo-escuro .user p {
  color: #fff;
}