.topbar {
    background-color: #1e2a52; 
    padding: 20px 0;
}

.topbar-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.topbar-left,
.topbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 60px;
}

.logo-text {
    color: white;
    font-size: 22px;
    margin: 0;
    letter-spacing: 1px;
}

.title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
}

.icon-img {
    width: 50px;
}


.navbar-menu {
    background-color: #1e2a52;
    padding: 15px 0;
    border-top: 2px solid #00000030;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.navbar-menu a:hover {
    opacity: 0.7;
}