.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar img {
  width: 10rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.sidebar-nav {
  padding: 0;
  width: 90%;
}

.sidebar-nav li a {
  display: block;
  padding: 15px 20px;
  color: #1d1d29;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
  transition: font-weight 0.3s, color 0.3s;
}

.sidebar-nav li a:hover {
  background-color: #29c1d0;
  color: #fff;
  font-weight: bold;
}

.modo-escuro .sidebar {
  background-color: #1d1d29;
}

.modo-escuro .sidebar-nav li a {
  color: #fff;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    top: auto;
    bottom: 0;
    z-index: 1000;
  }

  .sidebar img {
    display: none; /* Oculta a logo na barra inferior */
  }

  .sidebar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .sidebar-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar-nav li a {
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  .sidebar-nav li a:hover {
    background-color: #29c1d0;
    color: #fff;
  }
}