/* HOME */

.conteudo {
  margin-left: 15vw;
  width: 85vw;
  padding: 4rem;
}

.explicacao {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #444;
}

.erro {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ffdddd;
  color: #a94442;
  border: 1px solid #a94442;
  border-radius: 0.5rem;
  text-align: center;
}

/* FORMULÁRIO */

.resultado {
  margin-top: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.formulario select,
.formulario input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formulario select:focus,
.formulario input:focus {
  outline: none;
  border-color: #29c1d0;
  box-shadow: 0 0 0 2px #29c1d0;
}

.formulario textarea {
  width: 80%;
  height: 100px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formulario textarea:focus {
  outline: none;
  border-color: #29c1d0;
  box-shadow: 0 0 0 2px #29c1d0;
}

.lado-a-lado {
  display: flex;
  gap: 2rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #29c1d0;
  color: #fff;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  scale: 1.05;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Home modo escuro */

.modo-escuro .explicacao {
  color: #ccc;
}

.modo-escuro .formulario,
.modo-escuro .resultado {
  color: #fff;
  background-color: #1d1d29;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modo-escuro .resultado div * {
  color: #fff;
}

/* PÁGINA DE GRUPO E RESULTADOS */

.Container-projeto,
.Container-grp2 {
text-align: center;
  margin-top: 3rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #444;
}

.Grupo {
  display: block;
  max-width: 900px;
  width: 30rem;
  margin: 2rem auto;
  border-radius: 2rem;

}

.secao-texto {
  margin-top: 4rem;
}

/* Modo escuro para a página de grupo */
.modo-escuro .Container-projeto,
.modo-escuro .Container-grp2 {
  color: #ccc;
}
